.about {
    margin-bottom: 30px;
    text-align: center;
    min-height: 68vh;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.about p {
    width: 350px;
    margin-bottom: 30px;
}

.about img {
    width: 300px;
    margin-bottom: 20px;
}

.shop-front-img img {
    width: 350px;
}

@media (max-width: 1130px) {
    .about-content {
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .about p {
        font-size: 20px;
    }
}