.cartContainer {
    min-height: 75vh;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.cartItems {
    width: 70%;
}

@media (max-width: 900px) {
    .cartItems {
        width: 85%;
    }
}

@media (max-width: 500px) {
    .cartItems {
        width: 95%;
    }
}

.checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: rgb(215, 218, 229);
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.checkout button:hover {
    opacity: 90%;
}

.checkout p {
    text-align: center;
}