.contact {
    margin-top: 50px;
}

.contact form {
  display: grid;
  grid-template-columns: 100px 1fr;
  max-width: 500px;
  margin: auto;
  align-items: center;
}

.contact input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    resize: vertical;
  }

  .contact textarea {
    height: 200px;
  }
  
  .contact input[type=submit] {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    margin-left: 175px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  @media (max-width: 560px) {
    .contact form {
      max-width: 350px;
    }
  }