.dialog {
    background-color: rgb(217, 217, 217);
    border: 1px solid #a0a0a0;
    border-radius: 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 600px;
  }

  @media (max-width: 500px) {
    .dialog {
      height: 270px;
    }
  }

  .dialog img {
    width: 60%;
  }

  .closeDialog {
    all: unset;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .dialog button:hover {
    cursor: pointer;
  }