.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-family: 'Comic Sans MS', sans-serif;
    color: rgb(0, 26, 0);
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}